Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
depcomp
git_token.txt
missing
src/Makefile
src/Makefile.in
src/funlang
src/main.o
src/utils.o
stamp-h1
